header{
    background-color: rgba(78, 160, 255, 1);
    background-image: url(./img/pattern.png);
    background-size: 20%;
    height: 100px;

}

#logo{
    width: 15%;
    margin-top: 25px;
  }

h1{
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 10px;
}


#tim1{
    margin-left: auto;
    margin-top: 250px;
    width: auto;
    height: 650px;

}

#tim2{
margin-left: 20px;
width: auto;
height: 650px;
}

#foto1{
margin-top: 1px;
margin-bottom: 1px;
}

#foto2{
    margin-top: 1px;
    
}

#lista{
    padding-left: 1%;
}

table{
    width: 100%;
    border-spacing: 0px;
}

#head{
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.azzurro{
    background-color:#B1E5F2 ;
}

.prima{
    width: 25%;
}

.seconda{
    width: 25%;   
}

.terza{
    width: 50%;
}

.imageContainer{
    margin-bottom: 16px;
}

.imageContainer h3{
    color: white;;
    position: absolute;
    margin-left: 10px;
}